:host {
  display: block; 
  max-width: 500px;
  width: 100%;
  margin: 0 auto 20px; 
}

.header-card {
  background-color: var(--background-color); 
  text-align: center;
  padding: 24px;
 
 
  box-sizing: border-box;

  &__logo {
    max-width: 150px;
    display: block; 
    margin: 0 auto; 
  }

  &__title {
    border-top: 2px solid var(--border-color); 
    padding-top: 32px; 
    margin-top:16px;

    h1 {
      color: var(--primary-color);
      font-size: 24px; 
      font-weight: 700;
      margin: 0; 
    }
  }
}