:root {
  --primary-color: #00b0ff;
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --background-color: #fff;
  --light-text-color: #666;
  --border-color: #ccc;
  --positive-color: green;
  --negative-color: red;
}