:root {
  --primary-color: #07b0fb;
  --light-primary-color: #e3f2fd;
  --secondary-color: #f4f4f4;
  --text-color: #262626;
  --background-color: #fff;
  --light-text-color: #3f3f3f;
  --border-color: #d9d9d9;
  --light-border-color: #e5e5e5;
  --positive-color: #69c669;
  --negative-color: #e54e4e;

}
