<div class="exchange-rate">
  <main class="exchange-rate__main">
    <div class="exchange-rate__card">
      <mat-form-field>
        <mat-label>Enter the currency code</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="currencyCode"
          (keyup.enter)="getExchangeRate()"
          oninput="this.value = this.value.toUpperCase()"
        />
      </mat-form-field>
      <button class="exchange-rate__button" (click)="getExchangeRate()">EXCHANGE RESULT</button>
    </div>

    <app-exchange-rate-result
      [exchangeRate]="exchangeRate()"
      [showDaily]="showDaily()"
      (toggleDailyRates)="getDailyRates()"
    ></app-exchange-rate-result>

    
    @if (showDaily()) {
      <app-daily-rates [dailyRates]="dailyRates()"></app-daily-rates>
    }
  </main>
</div>
